<h1>List of products out of stock</h1> <br><br>
<table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>quantity</th>
      <th>price</th>  
      <th>category</th>
    </tr>
</thead> 
<tbody>
<tr *ngFor="let p of list">
    <td> {{p.id}} </td>
    <td> {{p.name}} </td>
    <td> {{p.quantity}} </td>
    <td> {{p.price}} </td> 
    <td> {{p.category}} </td> 
    <td>
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(p)"> delete</button>

</tr>
</tbody>
    
  </table>